@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-blue: hsl(237, 12%, 33%);
    --dark-blue: hsl(240, 6%, 50%);
    --light-blue: hsl(240, 5%, 91%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.main-container {
    position: relative;
    width: 845px;
    height: auto;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.imagen-mobile {
    display: none;
}

.section-left {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.section-left__pattern {
    position: absolute;
    left: -480px;
    width: 870px;
    height: 820px;
    margin-bottom: 100px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section-left__box {
    position: absolute;
    z-index: 1;
    left: -90px;
    top: calc(50% - 65px);
}

.section-img {
    margin-right: 85px;
    margin-left: -85px;
    z-index: 0;
}

.section-right {
    width: 450px;
    height: 415px;
    overflow: auto;
}

.section-questions-container {
    padding: 40px;
}

.section-questions-container h1 {
    margin-bottom: 28px;
    color: var(--desaturated-blue);
}

.section-questions {
    width: 100%;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid var(--light-blue);
    padding-bottom: 24px;
    margin-bottom: 5px;
}

details {
    font-size: 14px;
    border-bottom: 1px solid var(--light-blue);
    padding-bottom: 24px;
}

details p {
    margin: 8px 0 0 0;
    opacity: 0;
    transition: all 1s;
}

details[open] p {
    opacity: 1;
}

summary {
    list-style: none;
    position: relative;
    top: 50%;
    cursor: pointer;
}

summary img {
    position: absolute;
    right: 0;
    top: calc(50% - 3px);
}

details[open] summary {
    font-weight: 700;
}

details[open] summary img {
    transform: rotate(180deg);
}

.patern-mobile {
    display: none;
}

@media(max-width:600px) {
    .main-container {
        flex-direction: column;
        width: 350px;
        justify-items: center;
        padding-bottom: 20px;
        margin-top: 50px;
    }
    .section-img,
    .section-left__box {
        display: none;
    }
    .imagen-mobile {
        position: relative;
        display: block;
        width: 100%;
        height: 100px;
    }
    .imagen-mobile img {
        position: absolute;
        top: -110px;
        left: calc(50% - 125px);
        width: 250px;
    }
    .section-right {
        padding: 5px;
        width: 100%;
        height: auto;
    }
    .section-questions-container {
        padding: 0;
    }
    .section-questions-container h1 {
        text-align: center;
    }
    .patern-mobile {
        display: block;
        position: absolute;
        left: calc(50% - 125px);
    }
}